.base {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.circ {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid white;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.base .circ:nth-child(1) {
  -webkit-transform: translate(75px, 0);
          transform: translate(75px, 0);
}

.base .circ:nth-child(2) {
  -webkit-transform: translate(0, 75px);
          transform: translate(0, 75px);
}

.base .circ:nth-child(3) {
  -webkit-transform: translate(-75px, 0);
          transform: translate(-75px, 0);
}

.base .circ:nth-child(4) {
  -webkit-transform: translate(0, -75px);
          transform: translate(0, -75px);
}

.base .circ:nth-child(5) {
  -webkit-transform: translate(53.0325px, 53.0325px);
          transform: translate(53.0325px, 53.0325px);
}

.base .circ:nth-child(6) {
  -webkit-transform: translate(53.0325px, -53.0325px);
          transform: translate(53.0325px, -53.0325px);
}

.base .circ:nth-child(7) {
  -webkit-transform: translate(-53.0325px, 53.0325px);
          transform: translate(-53.0325px, 53.0325px);
}

.base .circ:nth-child(8) {
  -webkit-transform: translate(-53.0325px, -53.0325px);
          transform: translate(-53.0325px, -53.0325px);
}

.base:nth-child(2) {
  -webkit-transform: rotate(0.1turn);
          transform: rotate(0.1turn);
}

.base:nth-child(2) {
  -webkit-transform: rotate(0.2turn);
          transform: rotate(0.2turn);
  -webkit-animation: turn-2 6s ease-in-out infinite alternate;
          animation: turn-2 6s ease-in-out infinite alternate;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes turn-2 {
  to {
    -webkit-transform: rotate(0.25urn);
            transform: rotate(0.25urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes turn-2 {
  to {
    -webkit-transform: rotate(0.25urn);
            transform: rotate(0.25urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.base:nth-child(2) .circ {
  background: rgba(0, 0, 0, 0.05);
}

.base:nth-child(3) {
  -webkit-transform: rotate(0.3turn);
          transform: rotate(0.3turn);
  -webkit-animation: turn-3 6s ease-in-out infinite alternate;
          animation: turn-3 6s ease-in-out infinite alternate;
  -webkit-animation-duration: 4.5s;
          animation-duration: 4.5s;
}

@-webkit-keyframes turn-3 {
  to {
    -webkit-transform: rotate(0.375urn);
            transform: rotate(0.375urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes turn-3 {
  to {
    -webkit-transform: rotate(0.375urn);
            transform: rotate(0.375urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.base:nth-child(3) .circ {
  background: rgba(0, 0, 0, 0.05);
}

.base:nth-child(4) {
  -webkit-transform: rotate(0.4turn);
          transform: rotate(0.4turn);
  -webkit-animation: turn-4 6s ease-in-out infinite alternate;
          animation: turn-4 6s ease-in-out infinite alternate;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

@-webkit-keyframes turn-4 {
  to {
    -webkit-transform: rotate(0.5urn);
            transform: rotate(0.5urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes turn-4 {
  to {
    -webkit-transform: rotate(0.5urn);
            transform: rotate(0.5urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.base:nth-child(4) .circ {
  background: rgba(0, 0, 0, 0.05);
}

.base:nth-child(5) {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
  -webkit-animation: turn-5 6s ease-in-out infinite alternate;
          animation: turn-5 6s ease-in-out infinite alternate;
  -webkit-animation-duration: 7.5s;
          animation-duration: 7.5s;
}

@-webkit-keyframes turn-5 {
  to {
    -webkit-transform: rotate(0.625urn);
            transform: rotate(0.625urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes turn-5 {
  to {
    -webkit-transform: rotate(0.625urn);
            transform: rotate(0.625urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.base:nth-child(5) .circ {
  background: rgba(0, 0, 0, 0.05);
}

.base:nth-child(6) {
  -webkit-transform: rotate(0.6turn);
          transform: rotate(0.6turn);
  -webkit-animation: turn-6 6s ease-in-out infinite alternate;
          animation: turn-6 6s ease-in-out infinite alternate;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}

@-webkit-keyframes turn-6 {
  to {
    -webkit-transform: rotate(0.75urn);
            transform: rotate(0.75urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes turn-6 {
  to {
    -webkit-transform: rotate(0.75urn);
            transform: rotate(0.75urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.base:nth-child(6) .circ {
  background: rgba(0, 0, 0, 0.05);
}

.base:nth-child(7) {
  -webkit-transform: rotate(0.7turn);
          transform: rotate(0.7turn);
  -webkit-animation: turn-7 6s ease-in-out infinite alternate;
          animation: turn-7 6s ease-in-out infinite alternate;
  -webkit-animation-duration: 10.5s;
          animation-duration: 10.5s;
}

@-webkit-keyframes turn-7 {
  to {
    -webkit-transform: rotate(0.875urn);
            transform: rotate(0.875urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes turn-7 {
  to {
    -webkit-transform: rotate(0.875urn);
            transform: rotate(0.875urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.base:nth-child(7) .circ {
  background: rgba(0, 0, 0, 0.05);
}

.base:nth-child(8) {
  -webkit-transform: rotate(0.8turn);
          transform: rotate(0.8turn);
  -webkit-animation: turn-8 6s ease-in-out infinite alternate;
          animation: turn-8 6s ease-in-out infinite alternate;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

@-webkit-keyframes turn-8 {
  to {
    -webkit-transform: rotate(1urn);
            transform: rotate(1urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes turn-8 {
  to {
    -webkit-transform: rotate(1urn);
            transform: rotate(1urn);
  }
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.base:nth-child(8) .circ {
  background: rgba(0, 0, 0, 0.05);
}
/*# sourceMappingURL=style.css.map */